.content {
  display: flex;
}

.title-container h1 {
  color: #000;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ButtonNewProduct {
  margin-top: 25px;
  margin-left: 14%;
}

.ButtonNewProduct button {
  width: 4em;
  height: 1.5em;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #203f97;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ButtonNewProduct button:hover {
  background-color: #2a8bcc;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.1);
}

.ButtonNewProduct button:active {
  background-color: #2a8bcc;
  transform: scale(1);
}

.ProductsRegistered {
  position: absolute;
  width: 20%;
  height: 75%;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 8%;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}

.ProductsRegisteredTittle {
  width: 100%;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.ProductsRegisteredTittle h2 {
  color: #000;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedProductData {
  position: absolute;
  width: 63%;
  height: 75%;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 30%;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}

.DetailedProductDataTittle {
  width: 100%;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.DetailedProductDataTittle h2 {
  color: #000;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1600px) {
  .ButtonNewProduct {
    margin-top: 25px;
    margin-left: 12%;
  }

  .ButtonNewProduct button {
    width: 4em;
    height: 1.3em;
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
    background: #203f97;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .ProductsRegistered {
    position: absolute;
    width: 20%;
    height: 70%;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
  }

  .DetailedProductData {
    position: absolute;
    width: 55%;
    height: 70%;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 32%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
  }
}
