.content {
  display: flex;
}

.title-container h1 {
  color: #000;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ButtonNewProduct button {
  margin-top: 2.5vh;
  margin-left: 17vw;
  width: 7.2vw;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 16px;
  background: #203f97;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ButtonNewProduct button:hover {
  background-color: #2a8bcc;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.1);
}

.ButtonNewProduct button:active {
  background-color: #2a8bcc;
  transform: scale(1);
}

.ProductsRegistered {
  position: absolute;
  width: 23%;
  height: 75%;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 130px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
}

.ProductsRegisteredTittle {
  width: 23vw;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.ProductsRegisteredTittle h2 {
  color: #000;
  font-size: 1.6vw; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedProductData {
  position: absolute;
  width: 61vw;
  height: 72vh;
  flex-shrink: 0;
  margin-top: 11vh;
  margin-left: 36vw;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
}

.DetailedProductDataTittle {
  width: 61vw;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.DetailedProductDataTittle h2 {
  color: #000;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media screen and (max-width: 768px) {

}