.title-container {
  display: flex;
  align-items: flex-start; /* Alinha o título no topo */
  padding-left: 165px; /* Aumente o valor de padding-left para mover o título para a esquerda */
  text-align: left; /* Alinha o texto à esquerda */
}
.ProdutosCadastrados {
  width: 300px; /* Largura */
  height: 500px; /* Altura (mesma que a largura para criar um quadrado) */
  border-radius: 10px; /* Bordas arredondadas */
  background-color: #f0f0f0; /* Cor de fundo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efeito de elevação */
  position: absolute;
  top: 55%; /* Mantém a div centralizada verticalmente */
  left: 8%; /* Move a div para a esquerda (ajuste conforme necessário) */
  transform: translate(0, -50%); /* Mantém a div centralizada verticalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos para a segunda div quadrada */

.NomeDadosProdutos {
  width: 800px; /* Largura maior */
  height: 500px; /* Altura */
  border-radius: 10px; /* Bordas arredondadas */
  background-color: #f0f0f0; /* Cor de fundo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efeito de elevação */
  position: absolute;
  top: 0.1%; /* Mantém a div no topo (ajuste conforme necessário) */
  right: -300%; /* Move a div para a direita (ajuste conforme necessário) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinha no topo verticalmente */
  align-items: center;
  
}

/* Estilos para o texto no topo da segunda div quadrada */
.top-text {
  text-align: center; /* Alinha o texto ao centro */
  padding: 10px; /* Espaçamento interno para o texto no topo */
  background-color: #ffffff; /* Cor de fundo do texto no topo */
  color: rgb(6, 6, 6); /* Cor do texto no topo */
  border-radius: 10px 10px 0 0; /* Bordas arredondadas apenas no topo */
  border: 1px solid black; /* Adiciona borda preta */
}

/* Estilos para os parágrafos na segunda div */
.NomeDadosProdutos p {
  margin: 0; /* Remover a margem padrão dos parágrafos */
}

/* Estilos para alinhar os parágrafos lado a lado */
.NomeDadosProdutos .top-text p {
  display: inline-block; /* Tornar os parágrafos em linha */
  margin: 0 10px; /* Adicionar margem entre eles para espaçamento */
}