.content {
  display: flex;
}

.title-container h1 {
  color: #000;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ButtonNewProduct button {
  margin-top: 2rem;
  margin-left: 14rem;
  width: 7.2rem;
  height: 2.8rem;
  flex-shrink: 0;
  border-radius: 16px;
  background: #203f97;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ButtonNewProduct button:hover {
  background-color: #2a8bcc;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.1);
}

.ButtonNewProduct button:active {
  background-color: #2a8bcc;
  transform: scale(1);
}

.ProductsRegistered {
  position: absolute;
  width: 20rem;
  height: 40rem;
  flex-shrink: 0;
  margin-top: 8rem;
  margin-left: 10rem;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
}

.ProductsRegisteredTittle {
  width: 20rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.ProductsRegisteredTittle h1 {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedProductData {
  position: absolute;
  width: 57rem;
  height: 40rem;
  flex-shrink: 0;
  margin-top: 8rem;
  margin-left: 34rem;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
}

.DetailedProductDataTittle {
  width: 57rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.DetailedProductDataTittle h1 {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
