.contentTable {
  display: flex;
}

.titleContainerTable h1 {
  position: fixed;
  color: #000;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 390px;
}

.ButtonNewTable {
  position: fixed;
  margin-top: 25px;
  margin-left: 65%;
}

.ButtonNewTable button {
  font-size: 28px;
}

.DetailedTableData {
  position: fixed;
  width: 50%;
  height: 70%;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 25%;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  display: flex;
}

.DetailedTableDataTittle {
  width: 100%;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.DetailedTableDataTittle h2 {
  color: #000;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Adicione estilos para a div ProductData */
.DetailedTableDataContent {
  position: fixed;
  margin-top: 80px;
  width: 35%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.DetailedTableDataContent label {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedTableDataContent input,
.DetailedTableDataContent textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}


.DetailedTableDataContent input:focus, .DetailedTableDataContent textarea:focus {
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.01);
}

.DetailedTableDataContent button {
  font-size: 26px;
}
