* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

button {
  width: 4em;
  height: 1.5em;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #203f97;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #2a8bcc;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.1);
}

button:active {
  background-color: #2a8bcc;
  transform: scale(1);
}
