.contentPageProduct {
  display: flex;
}

.ProductTitle-container h1 {
  align-items: flex-start;
  padding-left: calc(5vh + 5vw);
  text-align: left;
  color: #000;
  font-size: calc(2vh + 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ButtonNewProduct {
  position: fixed;
  margin-top: calc(1vh + 1vw);
  margin-left: 40%;
}

.ButtonNewProduct button {
  font-size: calc(1vh + 1vw);
  width: 5em;
}

.ProductsRegistered {
  position: fixed;
  width: 24%;
  height: 70%;
  flex-shrink: 0;
  margin-top: 10vh;
  margin-left: 13%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}

.ProductsRegisteredTittle {
  width: 100%;
  height: calc(1.5vh + 1.5vw);
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.ProductsRegisteredTittle h2 {
  color: #000;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ProductsRegisteredDataContent {
  position: fixed;
  margin-top: calc(1.5vh + 1.5vw);
}

.ProductsRegisteredDataContent ul {
  font-size: calc(0.7vh + 0.7vw);
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: calc(19vh + 19vw); /* Defina a altura máxima desejada */
  overflow-y: auto;
}

.ProductsRegisteredDataContent ul li {
  margin-bottom: 20px;
}

.ProductsRegisteredDataContent button {
  background: none;
  border: none;
  border-radius: none;
  font-size: calc(0.7vh + 0.7vw);
  cursor: pointer;
}

.ProductsRegisteredDataContent ul li.selected {
  background-color: #e0e0e0; /* Cor de fundo para o item selecionado */
}

.FetchErrorMessage {
  margin-left: 2vh;
  margin-top: 1vh;
  width: 100%;
  padding: 1.3vh;
  border-radius: 10px;
  z-index: 2;
  opacity: 0;
  animation: fadeInOut 3s ease forwards;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.DetailedProductData {
  position: fixed;
  width: 40%;
  height: 70%;
  flex-shrink: 0;
  margin-top: 10vh;
  margin-left: 40%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  display: flex;
}

.DetailedProductDataTittle {
  width: 100%;
  height: calc(1.5vh + 1.5vw);
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.DetailedProductDataTittle h2 {
  color: #000;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedProductDataContent {
  position: fixed;
  margin-top: calc(2vh + 2vw);
  width: 38%;
}

.DetailedProductData form {
  border: 1px solid #ccc;
  padding: 15px;
  height: 50vh;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.DetailedProductDataContent label {
  font-size: 2.1vh;
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.DetailedProductDataContent input,
.DetailedProductDataContent textarea {
  width: 95%;
  height: 2vh;
  padding: 1.5vh;
  margin-bottom: 1vh;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  font-size: 1.8vh;
}

.DetailedProductDataContent input[type="file"] {
  resize: none;
}

.DetailedProductDataContent input:focus,
.DetailedProductDataContent textarea:focus {
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 5px 5px 10px #000;
  transform: scale(1.01);
}

.DetailedProductDataContent select {
  width: 95%;
  padding: 1.5vh;
  margin-bottom: 1vh;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  font-size: 1.7vh;
}

.DetailedProductDataContent select:focus {
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 5px 5px 10px #000;
}

.DetailedProductDataContent button {
  font-size: 2.6vh;
  width: 5em;
}

.DetailedProductDataContent .deleteButton {
  background-color: #f44336;
  margin-left: 2vw;
}

.ProductServer-response {
  position: absolute;
  top: 64vh;
  width: 70%;
  padding: 1.3vh;
  border-radius: 10px;
  z-index: 2;
  opacity: 0;
  animation: fadeInOut 3s ease forwards;
}

.ProductServer-response.success {
  background-color: #4caf50;
  color: white;
}

.ProductServer-response.error {
  background-color: #f44336;
  color: white;
}

.ProductProgress-container {
  overflow: hidden;
  position: absolute;
  top: 68.6vh;
  width: 70%;
  z-index: 1;
  opacity: 0;
  animation: fadeInOut 3s ease forwards;
}

.ProductProgress-bar {
  height: 7px;
  background-color: #405cbb;
  transition: width 0.1s linear;
  border-radius: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
