/* homeCardapio.css */
.bodyHomeCardapio {
  overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  overflow-y: hidden; /* Oculta a barra de rolagem vertical */
  margin: 0; /* Remove a margem padrão do corpo */
}
.home-cardapio-container {
  display: flex;
  flex-direction: column;  

  align-items: center;
  justify-content: center;
  height: 90vh; 
  gap: 50px;  

}

.acessar-cardapio-button {
  background-color: #103085;  
  color: #fff;  
  padding: 15px 30px;  
  border: none;
  border-radius: 20px;  
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;  
   width: 50vw;  
  max-width: 300px; 

  
}

.acessar-cardapio-button:hover {
  background-color: #0056b3;  
}
.horario-funcionamento {
    text-align: center;
    margin-top: 5vh; 
}

.horario-funcionamento p {
    background-color: #103085;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;  
    margin: 15px 0; 
}

.horario-funcionamento-button {
    background-color: #007bff;
    color: #fff;
    padding: 3vh 8vw;  
    border: none;
    border-radius: 4vw;  
    font-size: 3vw;  
    cursor: pointer;
    margin-top: 2vh;  
    transition: background-color 0.3s ease;
}

.horario-funcionamento-button:hover {
    background-color: #0056b3;  
}

.home-container {
  display: flex;
  flex-direction: column;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #103085;
  padding: 10px;
    overflow-y: hidden; /* Oculta a barra de rolagem vertical */

}

.logo-containerCardapio img {
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  border-radius: 50%; /* Deixa a imagem circular */
  margin-right: 10px; /* Espaçamento à direita da logo */
  
}
.social-buttons-container .social-button:not(:last-child) {
  margin-right: 10px; /* Espaçamento entre os botões, exceto para o último botão */
}
.company-name {
  color: #fff;
  font-size: 18px;
}
.social-buttons-container {
  display: flex;
  justify-content: flex-start; /* Mover para a esquerda */

}
.social-buttons-container .social-button img {
  width: 30px; /* Largura relativa à largura da viewport */
  height: auto; /* Altura automática para manter as proporções */
}

.social-buttons-container .social-button {
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.social-buttons-container .social-button:hover {
  background-color: #0056b3;
  outline: none; /* Remove a borda de foco */

}
