.contentPageWaiters {
  display: flex;
}

.waitersTitle-container h1 {
  align-items: flex-start;
  padding-left: calc(5vh + 5vw);
  text-align: left;
  color: #000;
  font-size: calc(2vh + 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  
  .GarconsCadastrados {
    width: 300px;
    height: 500px;
    border-radius: 10px; 
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 55%;
    left: 8%; 
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
  }
  
  /* Estilos para a segunda div quadrada */
  
  .NomeDosGarcons {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0.1%;
    right: -300%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
  }
  
  /* Estilos para o título da div "ProdutosCadastrados" */
  .NomeDosGarcons h2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
    width: 97.4%;
    margin-top: -150%;
    border-radius: 10px 10px 0 0;
    border: 1px solid black; /* Adiciona borda preta ao título */
  }
  
  /* Estilos comuns para textos */
  
  /* Estilos para o texto no topo da segunda div e título */
  .top-text {
    background-color: #ffffff;
    color: rgb(6, 6, 6);
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    padding: 10px;
    width: 97.4%;
  }
  
  /* Estilos para os parágrafos na segunda div */
  .NomeDosGarcons p {
    margin: 0;
  }
  
  /* Estilos para alinhar os parágrafos lado a lado */
  .NomeDosGarcons .top-text p {
    display: inline-block;
    margin: 0 100px;
  }
  